#zatemnenie{
  background:rgba(102, 102, 102, 0.5);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
}
#okno{
  width:300px;
  height:100px;
  text-align:center;
  padding:15px;
  border-radius:9px;
  color:black;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  background:#fff;
  box-shadow:0 0 10px #000;
}
#zatemnenie:target{display: block;}
h4{
  margin-top:15px;
}
.close{
  display:inline-block;
  border-radius:5px;
  color:black;
  padding:12px;
  text-decoration:none;
  background:white;
  font-size:14pt;
  cursor:pointer;
  transition:0.5s;
}
.close:hover{
  background:#dd3333; 
  transition:0.5s;
}

button.button{
  margin:10px;
  padding:10px;
  color:white;
  text-decoration:none;
  border:1px solid black;
  border-radius:5px;
  background:black;
  transition:0.3s;
}

button.button:hover{ 
  background:#dd3333;
}

button.button:active{  
  background:rgb(33,147,90);
  box-shadow:0 3px rgb(33,147,90) inset;
}
.button{
  text-decoration:none;
  color:white;
}