*{
  font-family:'Roboto', sans-serif;
  margin: 0;
}
body{
  min-height:100%;
  background-color:rgb(246,246,246);
}
.block-left{
  width:25%;
  height: 30px;
  overflow:auto;
  float:left;
}
.block-right{
  overflow:auto;
  height:100%;
}
form, p{
  font-size:19px;
}
header{
  box-shadow:0 5px 25px rgba(0, 0, 0, 0.15);
}
header img{
  padding:10px;
  display:block;
  margin:0 auto;
  width:250px;
}
footer{
  box-shadow:0 5px 25px rgba(0, 0, 0, 0.15);  
  margin-top:50px;
  text-align:center;
}
footer h5{
  padding:10px;
}
footer h5:before {
  content:"\00A9";
}


